<% @comedians.each do |comedian| %>
<ul>
  <li> <%= "Name: #{comedian.name}" %></li>
  <li> <%= "Age: #{comedian.age}" %></li>
  <% if comedian.specials %>
    <% comedian.specials.each do |special| %>
  <p> <%= "#{comedian.name} Special: #{special.name}" %> </br></p>
    <% end %>
  <% end %>
</ul>
<p><%= "Average Age: #{@comedians.average_age}" %></p>
<% end %>
